@charset "UTF-8";

body,div,h2 {
	margin: 0;
	padding: 0;
}
/*パディング・ボーダーを幅高さに含める*/
a {
	box-sizing: border-box;
}
/*テキストアラインセンター*/
.align_center {
	text-align: center;
}
/*imgの下隙間埋め*/
img,iframe {
	vertical-align: bottom;
}
/*クリアーフィックス*/
.clear_fix:after {
	content: "";
	display: block;
	clear: both;
}
/*タイトル文字*/
header h1 {
	color: #fff;
	position: absolute;
	right: 0;
	left: 0;
}

.logo {
	font-size: 50px;
	margin-top: 30px;
}
.title {
	font-size: 30px;
	line-height: 100%;
}

/*メインナビ*/
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main_nav ul li a{
	display: block;
	float: left;
	width: 20%;
	line-height: 40px;
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;
	border-left: 2px solid #fff;
	color: #fff;
	background: rgba(100,100,100,0.5);
}
.main_nav ul li:first-child a{
	border-left: none;
}
/*メインコンテンツ*******************************/
.main>.container:nth-child(odd) {
	background: grey;
}
.container {
	min-height: 600px;
	height:100%;
	background: green;
	padding-top:5%;
}
/*コンテンツ共通*/
.container>.content {
	margin: 0 auto;
}
.container>h2 {
	margin-bottom: 50px;
	font-size: 2em;
}
/*アクセス*/
#c4.container>.content iframe {
	display: block;
	margin: 0 auto;
}
/*お問い合わせ*/
#c5.container>.content {
	width: 50%;
}

#c5.container>.content p {
	font: 18px borld;
	line-height: 1.8em;
	margin-bottom: 25px;
}
/*フッター**************************************/
footer {
	height: 100px;
	background: blue;
}

/*ポジションエリア****************************************/
.posi_nav {
	position: fixed;
	left: 3%;
	bottom: 20%;
}
.posi_nav ul {
	list-style: none;
}
.posi_nav ul li a,.gotop {
	display: block;
	width: 50px;
	height: 50px;
	margin-bottom: 25px;
	border: 2px solid rgba(255,255,255,0.7);
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	color: rgba(255,255,255,0.7);
}
.posi_nav ul li a {
	text-decoration: none;
}
.posi_nav ul li a {
	font-size: 2em;
	font-weight: borld;
	line-height: 45px;
}
.posi_area>p.gotop{
	margin: 0;
	position: fixed;
	right: 3%;
	bottom: 20%;
	cursor: pointer;
	font-size: 2.5em;
	font-weight: borld;

	
}
.posi_nav ul li a:hover,.posi_area>p.gotop:hover {
	color: #fff;
	border: 3px solid #fff;
}
